:root {
    /* font-family */
    --font-family-display: 'Outfit';
    --font-family-body: 'Pretendard';
    --font-family-bold: 'Pretendard';
  
    /* font-size */
    --font-size-display-small: 24px;
    --font-size-display-large: 48px;
  
    --font-size-body-regular: 16px;
    --font-size-body-medium: 18px;
    --font-size-body-large: 22px;
  
    --font-size-bold-regular: 12px;
    --font-size-bold-medium: 14px;
    --font-size-bold-large: 16px;
  
    /* font-weight */
    --font-weight-display-small: 400;
    --font-weight-display-large: 700;
    --font-weight-body: 500;
    --font-weight-bold: 700;
  
    /* line-height */
    --line-height-display-small: 24px;
    --line-height-display-large: 56px;
  
    --line-height-body-regular: 24px;
    --line-height-body-medium: 24px;
    --line-height-body-large: 32px;
  
    --line-height-bold-regular: 16px;
    --line-height-bold-medium: 24px;
    --line-height-bold-large: 24px;
  
    /* color */
    --color-off-white: #f7f6f3;
    --color-white: #fcfcfc;
    --color-primary: #524d90;
    --color-primary-alt: #a79fcb;
    --color-primary-alt-40: rgba(167, 159, 203, 0.4);
    --color-secondary-red: #e75b3f;
    --color-secondary-yellow: #f5b853;
    --color-secondary-cyan: #4eaaba;
    --color-category-sky: #6ed5eb;
    --color-category-cyan: #4cb8b8;
    --color-category-mint: #94d3cc;
    --color-category-blue: #4ca1de;
    --color-category-pink: #d092e2;
    --color-category-purple: #817dce;
    --color-category-navy: #4a6cc3;
    --color-category-green: #b9d58c;
    --color-category-yellow: #e6d267;
    --color-category-orange: #e2b765;
  }

.display_small {
    font-family: var(--font-family-display);
    font-weight: var(--font-weight-display-small);
    font-size: var(--font-size-display-small);
}

.display_large {
    font-family: var(--font-family-display);
    font-weight: var(--font-weight-display-large);
    font-size: var(--font-size-display-large);
}

.body_regular {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body-regular);
}

.body_medium {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body-medium);
}

.body_large {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body-large);
}

.bold_regular {
    font-family: var(--font-family-bold);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-bold-regular);
}

.bold_medium {
    font-family: var(--font-family-bold);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-bold-medium);
}

.bold_large {
    font-family: var(--font-family-bold);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-bold-large);
}

.font_white {
    color: var(--color-white);
}

.font_primary {
    color: var(--color-primary);
}

.font_alt {
    color: var(--color-primary-alt);
}

.font_secred {
    color: var(--color-secondary-red);
}

.icon_small {
    height: 24px;
    width: 24px;
}

.icon_medium {
    height: 32px;
    width: 32px;
}

.icon_select {
    height: 16px;
    width: 16px;
    transform: rotate(90deg);
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    position: relative;
    height: 194px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

#header_box {
    width: 864px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_month {
    display: flex;
    justify-content: center;
    align-items: center;
}

#month_selector {
    width: 120px;
    margin: 0px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#selector__num {
    margin: 15px 0px;
}

.taps {
    margin-left: 15px;
    filter: opacity(0.5) drop-shadow(0 0 0 var(--color-primary-alt));
}

#input_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 162px;
    height: 76px;
    width: 894px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    background-color: var(--color-white);
}

.input_section {
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line {
    width: 1px;
    height: 44px;
    background-color: var(--color-primary);
}

.input_title {
    margin-bottom: 10px;
}

.input_box {
    height: 24px;
    background-color: var(--color-white);
    border: none;
}

.input_box::placeholder {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body-regular);
    color: var(--color-primary-alt);
}

#bar_date {
    width: 88px;
}

#bar_amount {
    width: 134px;
}

#input_amount {
    width: 78px;
    margin-right: 8px;
    text-align: right;
}

#amount_section, #payments_section, #category_section {
    display: flex;
    align-items: center;
}

#bar_description {
    width: 164px;
}

#bar_payments {
    width: 100px;
}

#input_payments, #input_category {
    width: 80px;
    margin-right: 4px;
}

#bar_category {
    width: 100px;
}

#input_btn {
    height: 40px;
    width: 40px;
    background-color: var(--color-primary-alt-40);
    border: none;
    border-radius: 8px;
}

#info_list {
    width: 848px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 286px;
}

#list_category, #list_income, #list_expense{
    display: flex;
    align-items: center;
}

#list_expense {
    margin-left: 14px;
}

.check_box {
    margin-right: 10px;
}

#list_month {
    width: 846px;
    position: absolute;
    top: 346px;
    display: flex;
    flex-direction: column;
}

.contents_title {
    margin-bottom: 21px;
    display: flex;
    justify-content: space-between;
}

.tags {
    height: 32px;
    width: 92px;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_culture {
    background-color: var(--color-category-pink);
}

.category_transportation {
    background-color: var(--color-category-mint);
}

.contents_main {
    height: 64px;
    width: 846px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-primary-alt-40);
    border-bottom: 1px solid var(--color-primary-alt-40);
}

.contents_description {
    margin-left: 16px;
    width: 320px;
    text-align: left;
}

.contents_payment {
    margin-left: 16px;
    width: 120px;
}

.contents_money {
    margin-left: 16px;
    width: 234px;
    text-align: right;
}