/* 자주 사용하는 flexbox */
.flex-row {
  display: flex;
  align-items: center;
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-8 {
  gap: 8px;
}

/* font color */
.font-primary {
  color: var(--color-primary);
}

.font-primary-alt {
  color: var(--color-primary-alt);
}

.font-secondary-red {
  color: var(--color-secondary-red);
}

.font-secondary-cyan {
  color: var(--color-secondary-cyan);
}

/* background-color */
.bg-category-blue {
  background-color: var(--color-category-blue);
}

.bg-category-green {
  background-color: var(--color-category-green);
}

.bg-category-cyan {
  background-color: var(--color-category-cyan);
}

.bg-category-pink {
  background-color: var(--color-category-pink);
}

/* svg filter */
.filter-white {
  filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(54%)
    hue-rotate(210deg) brightness(122%) contrast(98%);
}

.filter-primary-alt {
  filter: brightness(0) saturate(100%) invert(75%) sepia(14%) saturate(739%)
    hue-rotate(210deg) brightness(88%) contrast(78%);
}

.filter-secondary-red {
  filter: brightness(0) saturate(100%) invert(46%) sepia(14%) saturate(4403%)
    hue-rotate(332deg) brightness(95%) contrast(90%);
}

/* display none */
.no-display {
  display: none;
}

/* 버튼 */
.button--transparent {
  background-color: transparent;
  border: none;
  padding: 0;
}

.clickable:hover {
  cursor: pointer;
}
