body > header {
    height: 194px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #524D90;
    color: #FCFCFC;
}

body > header > ul {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#month-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

#month-carousel > a {
    text-align: center;
    vertical-align: middle;
}

#month-carousel > section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month-info {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
}

#month {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}

#nav-tabs {
    display: flex;
    flex-direction: row;
}

#nav-tabs a {
    text-align: center;
    vertical-align: middle;
    margin: 10px;
}

main {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    position: relative;
}

.overlap-bar {
    height: 76px;
    width: max-content;
    display: flex;
    position: relative;
    bottom: 38px;
    background: #FCFCFC;
    border: 1px solid #524D90;
    box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08), 0px 4px 4px rgba(82, 77, 144, 0.1);
    border-radius: 8px;
}

.overlap-bar form {
    align-self: center;
}
